@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.color_base{
  color: #081b29;
}
.color_primary{
  color: rgb(0, 217, 255);
}
.bg_primary{
  background-color: rgb(0, 217, 255);
}
.bg_base{
  background-color: #081b29;
}
.loaderIcon{
  margin-right: 7px;
  top: 2px;
  animation: spin 1s infinite linear;
}

@keyframes spin {
  from {
      transform: scale(1) rotate(0deg);
  }
  to {
      transform: scale(1) rotate(360deg);
  }
}
.border_small{
  border: 1px solid rgb(0, 217, 255);
}
.bg_backMenu{
  background-color: rgba(0, 0, 0,0.4);
}
.primary_gradient{
  background: rgb(31,163,167);
  background: radial-gradient(circle, rgba(31,163,167,1) 0%, rgba(22,197,193,0.47942927170868344) 0%, rgba(0,241,255,0) 100%);
  filter:blur(450px)
}
